:root {
  --color-details: #20fc8f;
  --color-bg: #272932;
  --color-main: #7d8491;
  --color-second: #123456;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  color: var(--color-main);
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.hidden {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.app-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.app-scrollbar::-webkit-scrollbar-track {
  background: var(--color-bg);
}

.app-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-details);
  border-radius: 20px;
  border: 2px solid var(--color-bg);
}

.app-scrollbar {
  scrollbar-width: auto;
  scrollbar-color: var(--color-details) var(--color-bg);
}
